.container {
    background-color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #ECE000; /* Màu tiêu đề VieON */
    color: #000000;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.body {
    padding: 30px 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

.body p {
    font-size: 16px;
    margin: 0 0 15px;
    line-height: 1.5;
}

.body .otp-code {
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 8px 0 8px;
}

.footer {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #999999;
    font-family: Arial, sans-serif;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #ECE000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}